<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>

<style>
  .card-img {
    height: 300px; /* Adjust the height as needed */
    object-fit: cover; /* Maintain aspect ratio and fill container */
  }
</style>

<section class="py-3 py-md-5 py-xl-1">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-md-9 col-lg-8">
            <h3 class="mb-2 heading text-uppercase"><span>Cuisine</span> Compass</h3>
            <h2 class="display-5 mb-4">At our core, we prioritize pushing boundaries, embracing the unknown, and fostering a culture of continuous learning.</h2>
            <a type="button" class="btn btn-outline-secondary mt-3 mb-3 mb-md-4 mb-xl-5" href="mailto: bhavyshah2612@gmail.com">Connect Now</a>
        </div>
        <div class="col-md-3 col-lg-4">
            <img src="/logo.png" alt="logo" class="logo-animation" height="400px">
        </div>
    </div>
</div>

  
    <div class="container">
      <div class="row gy-3 gy-md-4 gy-lg-0">
        <div class="col-12 col-lg-6">
          <div class="card bg-light p-3 m-0">
            <div class="row gy-3 gy-md-0 align-items-md-center">
              <div class="col-md-5">
                <img src="/bhavya.jpg" class="img-fluid card-img rounded-start" alt="Bhavya">
              </div>
              <div class="col-md-7">
                <div class="card-body p-0">
                  <h2 class="card-title h4 mb-3">Bhavya Shah</h2>
                  <h4 class="card-title h6">Software Developer</h4>
                  <p class="card-text lead">Passionate software engineering student with proficiency in Java, SQL, Oracle Database, Node, and WordPress. Experience in both frontend and backend development, seeking opportunities to contribute to innovative projects and collaborate with industry professionals.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card bg-light p-3 m-0">
              <div class="row gy-3 gy-md-0 align-items-md-center">
                <div class="col-md-5">
                  <img src="/umesh.jpg" class="img-fluid card-img rounded-start" alt="Umesh Kachariya">
                </div>
                <div class="col-md-7">
                  <div class="card-body p-0">
                    <h2 class="card-title h4 mb-3">Umesh Kachariya</h2>
                    <h4 class="card-title h6">Frontend Developer</h4>
                    <p class="card-text lead">Passionate frontend development student proficient in JavaScript, HTML, CSS, and React. Experienced in crafting visually appealing and responsive user interfaces. Seeking opportunities to contribute to innovative projects and collaborate with industry professionals in frontend development.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>

<%- include('partials/footer.ejs') %>
